@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
}

section{
    padding: 100px;
}

.banner{
    position: relative;
    min-height: 100vh;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h1{
    font-size: 2.5em;
    font-weight: 500;
    color: #fff;
    line-height: 1.5em;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.banner h1 span{
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.banner h3{
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.btn{
    position: relative;
    background:rgb(115, 115, 115);
    color: #fff;
    margin-top: 20;
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 70px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
}

.banner a{
    transition: .5s;
}

.banner a:hover{
    padding: 20px;
}

header.sticky{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);  
}

header .logo{
    color:#fff;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s;
}

header.sticky .logo{
    color: #000;
}

header .logo:hover{
    font-size: 100px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    text-decoration: none;
    color: #fff;
}

header.sticky ul li a{
    color: #000;
}

.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color:#111;
}

.heading h2{
    font-weight: 700;
    font-size: 30px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentBox h3{
    font-size: 24px;
    margin-bottom: 10px;
    padding: 15px;
}

.fruits{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.fruits li{
    position: relative;
    font-size: 40px;
    padding: 10px;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.fruits li:hover{
    transform: translateY(-20px);
}

body.specialeven .fruits li:nth-child(even){
    color: blue;
}

body.specialodd .fruits li:nth-child(odd){
    color: blue;
}

.aligncenter{
    float: right;
}

.switch{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 50px;
    transition: .5s;
    outline: none;
}

.switch:hover{
    color: darkblue;
    font-size: 90px;
}

footer{
    position: relative;
    width: 100%;
    background: #111;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: "Popins", sans-serif;
}

footer h3{
    text-align: left;
}

footer .contentBox{
    text-align: left;
}

footer .heading{
    color: #fff;
    font-size: 20px;
}

footer .contentBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formBox{
    min-width: 60%;
}

.formBox form{
    display: flex;
    flex-direction: column;
}

.formBox form h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.formBox form input,
.formBox form textarea,
.formBox form button
{
    margin-bottom: 20px;
    padding: 20px;
    font-size: 17px;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;

}

.formBox form textarea{
    min-height: 200px;
}

.formBox form input::placeholder,
.formBox form textarea::placeholder{
    color: #999;
}

.formBox form input[type="submit"]{
    max-width: 100px;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: .7s;
}

.formBox form input[type="submit"]:hover{
    padding: 100px;
}

.warnings{
    width: 200px;
    text-align: center;
    color: #fff;
    margin: auto;
    padding-top: 20px;
}

.btn:hover{
    background: #fff;
    color: #111;
    cursor: pointer;
}
